{namespace logs=VerteXVaaR\Logs\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend"/>

<f:section name="LeftToolBar"></f:section>
<f:section name="RightToolBar"></f:section>
<f:section name="Welcome"></f:section>

<f:section name="Main">
	<h1><f:translate key="rows">rows</f:translate> ({rows -> f:count()})</h1>
	<table class="table">
		<thead>
		<tr>
			<th>occurences</th>
			<th>entry</th>
		</tr>
		</thead>
		<f:for each="{rows}" as="occurences" key="log">
			<tr>
				<td>{occurences}</td>
				<td>{log}</td>
			</tr>
		</f:for>
	</table>
</f:section>
